<% if notice %>
  <p id="notice"><%= notice %></p> <% end %>
<h1>Playerカ タ ロ グ</h1>
<% @players.each do |player| %> <div class="entry">
    <span class="price"><%= player.name %></span> </div>
</div>
<% end %>
